

/* common css */
body {
    color: gray;
    font-size: 16px;
    font-weight: 400;
    margin-left: 5%;
    margin-right: 5%;
    
}
a {
    text-decoration: none;
    
}



/* ------------------------- */

.hero  {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #EEEFEF;
    
}
.font1  {
    font-family: 'Amatic SC', cursive;
    color: #37373F;
    font-size: 64px;

}
.cnt1 {
    
    width: 40%;
    overflow: hidden;
}

.cnt2 {
    margin: auto;
    margin-left: 250px;
    
}

.btn-tbl {
    background-color: #CE1313;
    border: 0px;
    border-radius: 25px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: large;
    
}

.btn-tbl a {
    color: #EEEFEF;
}
.btn-tbl:hover {
    background-color:rgb(223, 93, 93);
}
.btn-vid {
    
    border: 0px;
    border-radius: 25px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: large;

}
.btn-vid img {
    vertical-align: baseline;
    width: 30px;
    height: 25px;
}

/* CSS for About Us section */
.lern-abt {
    font-family: 'Amatic SC', cursive;
    font-size: 48px;
}
.red {
    color: #CE1313;
}
.abt-prt {
    display: flex;
    /* align-items: center; */
    
}
.abt-book {
    background-image: url("/img/large.jpg");
    position: relative;
    width: 250%;
    height: 665px;
 

    

}
.book-tbl {
    background-color: #EEEFEF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60%;
    margin-left: 20%;
    position: absolute;
    padding-left: 15%;
    padding-right: 15%;
}

.call {
    color: #CE1313;
}

.abt-li {
    margin-left: 5px;
    padding-left: 25px;
}

/* CSS for Why WE */
.why {
    background-color: #EEEFEF;
    margin-top: 25px;
    padding: 5%;
    display: flex;
    justify-content: space-around;
}
.box-main {
    width: 25%;
    color: #EEEFEF;
    padding: 20px;
    background-color: #CE1313;
}
.btn-lrn {
    border-radius: 25px;
    border: 0px;
    background-color: rgb(223, 93, 93);
    font-size: 18px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
}
.btn-lrn a {
    color: #1b1f1f;
}
.btn-lrn:hover {
    background-color: #EEEFEF;
}
.box {
    margin: 2%;
    background-color: #FFFFFF;
    width: 20%;
    padding: 25px;
    transition: transform 0.3s;
   
}
.box:hover {
    transform: scale(1.1);
}
/* CSS for Menu */
.row1 {
    display: flex;
    justify-content: space-around;

}
.row2 {
    display: flex;
    justify-content: space-around;
}
.dish {
    width: 30%;
}
/* CSS for Event */
.event-container {
    background-color: #FFFFFF;
    padding-bottom: 30px;
}

.event {
    display: flex;
    
}
.des1 {
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 80%;
    box-shadow: ;
   color: black;
   background-color: #FFFFFF;
   box-shadow: 2px 5px black;
    border-radius: 10px;
}
.des2 {
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 2px 5px black;
    border-radius: 10px;
    
    margin-top: 91%;
   color: black;
   background-color: #FFFFFF;
}
.des3 {
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 84%;
   color: black;
   background-color: #FFFFFF;
   box-shadow: 2px 5px black;
    border-radius: 10px;
}
.bg1 {
    
   
    background-image: url("/img/event/Garden_birthday_party_decoration_by_aicaevents_TPG1closeup.jpg");
    
    height: 500px;
}
.bg2 {
    
    background-image: url("/img/event/images.jfif");
    height: 500px;
}
.bg3 {
    
    background-image: url("/img/event/photo-1530103862676-de8c9debad1d.jfif");
    height: 500px;
   
}

/* CSS for OUR CHEEFS */
.cheefs-container {
    background-color: #EEEFEF;
    padding-top: 20px;
    
}
.cheefs {
    display: flex;
    justify-content: space-around;
    padding: 5%;
   
}

.cheef {
    margin-left: 30px;
    padding: 8px;
    border-radius: 10px;
    transition: transform 0.3s;
    background-color: #FFFFFF;
}
.cheef:hover {
    transform: scale(1.1);
}

/* CSS for booking section */
.booking-container {
    background-color: #FFFFFF;
    padding-bottom: 40px;
   
}
.booking {
    display: flex;
   
}
.form {
    width: 100%;
    padding: 4%;
    background-color: #F6F7F6;
}
.input {
    margin-right: 25px;
    margin-bottom: 25px;
    padding: 2%;
    transition: transform 0.2s;
}
.input:hover {
    transform: scale(1.1);
}
.rowf2 {
    display: flex;
    justify-content: flex-start;
}
.date {
    margin-left: 0px;
    
}
.time {
    margin-left: 60px;
}
.pep {
    margin-left: 80px;
   
}
.submit {
    margin-top: 25px;
    padding: 15px 100px 15px;
    border-radius: 50px;
    background-color:#CE1313;
    border: none;
    
}
.submit:hover {
    background-color: rgba(255, 0, 0, 0.747);
}

/* CSS for Gallery */
.gallary {
    display: flex;
    flex-direction: column;
    
}
.gallary img {
    margin: 2px;
  
}
.gallary img:hover {
    border: 5px solid red;
}
.rw1 {
    display: flex;
    justify-content: center;
   
}
.rw2 {
    display: flex;
    justify-content: center;
   
}
